<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Library - Read to Succeed</title>
<style type="text/css">
</style>
    </head>
  <body>
  </body>

  <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>IP</th>
        <th>Mac addr.</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
    {{ range .Hosts}}
    <tr>
          <td>{{.Name}}</td>
          <td>{{.IP}}</td>
          <td>{{.EthAddr}}</td>
    </tr>
    {{ end}}
    </tbody>
  </table>
</html>
