<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="color-scheme" content="light dark">
        <title>PFUI</title>
        <style type="text/css">
        tr.banned td { color: red; }
        </style>
    </head>
    <body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>IP</th>
                <th>Mac addr.</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{ range .Hosts }}
            <tr class="{{if .Banned}}banned{{end}}">
                    <td>{{ .Name }}</td>
                    <td>{{ .IP }}</td>
                    <td>{{ .EthAddr }}</td>
		    <td>{{if .Banned }}x{{end}}</td>
		    <td><a href="" {{if ne .EthAddr ""}}data-mac="{{ .EthAddr }}"{{else}}data-ip="{{.IP}}"{{end}} data-status="{{.Banned}}">⏼</a></td>
                </tr>
            {{ end }}
        </tbody>
    </table>
    </body>
    <script>
	    window.addEventListener("load", (event) => {
            console.log("page is fully loaded");
            const toggle = async(params) => {
                const resp = await fetch(`/psui/devices?${params}`, {
                    method: "PUT",
                });
                if (resp.ok) {
                    return resp.json();
                }
                throw new Error("error updating device");
            };
            document.querySelectorAll("a").forEach((a) => {
                a.addEventListener("click", (e) => {
                    e.preventDefault();
                    let query = "mac";
                    let device = e.target.getAttribute("data-mac");
                    const st = e.target.getAttribute("data-status");
                    let op = "add";
                    let params = new URLSearchParams();

                    if (st === "true") {
                        op = "delete";
                        if (!device) {
                            device = e.target.getAttribute("data-ip")
                            query = "ip";
			}
                    }
                    params.append("op", op);
                    params.append(query, device);
                    //console.log("query:", query, "//", device, ":", st, ":", op);

                    //const params = new URLSearchParams({ op: op, query:  device});
                    toggle(params)
                        .then((res) => {
                            //console.log(res);
                            if (res.status === "ok") {
                                document.location.reload();
                            } else {
                                alert("Error: " + res.msg);
                            }
                        })
                        .catch((err) => console.log(err));
                });
            });
	    });

    </script>
</html>
